body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://drive.google.com/uc?export=view&id=1q51UjbFl5_zUlDQPXKEbCJN70h-p93z7);
}


main img{
    width: 198px;
    height: 304px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Risque', serif;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #CFECF5;
    color: #4FC3F7;
    font-family: 'Irish Grover';
}

.header h1 {
    color: #4FC3F7;
}

nav {
    background-color: #FFD073;
    display: flex;
    justify-content: space-between;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: px;
    

}

.header {
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #CFECF5;
    height: 90px;
    display: flex;
    
}

.our_comp {
    background-color: #FFE4AF;
    display: flex;
    padding: 10px;
    
}

.bn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
}

h1{
    text-align: center;
    color: #AAAAF2;
}

.shop {
     background-color: #FFE4AF;
    display: flex;
    padding: 10px;
    text-align: left;
}

.ourshops {
     background-color: #FFE4AF;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}

.bc {
     background-color: #FFE4AF;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.bcook {
     background-color: #FFE4AF;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.bm {
     background-color: #FFE4AF;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.bl {
     background-color: #FFE4AF;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.os {
    text-align: left;
}
